<div class="main">
  <div class="box">
    <div class="leftAera">
      <%=render "stores/store_info" %>

      <div class="leftSales"><a href="#"><img src="images/sales01.jpg"></a><a href="#"><img src="images/sales01.jpg"></a></div>
    </div>
    <div class="rightAera"><div class="rightTitle">
        <h1>团队介绍</h1>
        <div class="item">
          <img src="/assets/item.jpg"/>
          <%=render("/stores/store_info_unMap")%>
        </div>
      </div>
    </div>
  </div>
</div>