
<div class="leftAera">
  <%=render "stores/store_info" %>

  <div class="leftSales"><a href="#"><img src="images/sales01.jpg"></a><a href="#"><img src="images/sales01.jpg"></a></div>
</div>
<div class="rightAera"><div class="rightTitle">
  <h1>团队介绍</h1>
  <div class="item">
    <img src="/assets/item.jpg"/>
    <p>杭州澜泰科技有限公司位于杭州西湖科技园西园五路16号4A栋，主营 汽车美容用品 批发 气
      动工具 汽车清洗 龙卷风喷枪 龙卷风清洗枪 龙卷风设备 内饰清洗设备 清洗枪 清洗机 泡沫机  等。</p>
    <p>电话：0571-88272888</p>
    <p>地址：杭州澜泰科技有限公司位于杭州西湖科技园西园五路16号4A栋</p>
  </div>
</div></div>