<div class="r_menu">
  <ul>
    <li><a href="/introduce" <% if controller.action_name == "company_introduce" %>class="hover"<% end %>>公司介绍</a></li>
    <li><a href="/characteristic" <% if controller.action_name == "characteristic_service" %>class="hover"<% end %>>特色服务</a></li>
    <li><a href="/managment" <% if controller.action_name == "managment_idea" %>class="hover"<% end %>>经营理念</a></li>
    <li><a href="/culture" <% if controller.action_name == "company_culture" %>class="hover"<% end %>>企业文化</a></li>
    <li><a href="/team" <% if controller.action_name == "team_introduce" %>class="hover"<% end %>>团队介绍</a></li>
    <li><a href="/store" <% if controller.action_name == "store_introduce" %>class="hover"<% end %>>门店介绍</a></li>
  </ul>
</div>