<table width="100%" border="0" cellspacing="1" cellpadding="0" class="text_table">
  <tr>
    <td class="t_head">选择你要预约的门店</td>
  </tr>
  <tr>
    <td><div class="inquire">
        <%= render("/homepage/select_stores") %>
      </div>
    </td>
  </tr>
</table>
<script type="text/javascript">
$("#city_p_id").change(function(){
    $.ajax({
      type :"POST",
      url:"provincechange?id="+$("#city_p_id").attr("value"),
      data :'text',
      success: function(data)
      {
        $("#city_c_id").html(data);
      }
    })
  })
  $("#city_c_id").change(function(){
    $.ajax({
      type :"POST",
      url:"citychange?id="+$("#city_c_id").attr("value"),
      data :'text',
      success: function(data)
      {
        $("#stores_list_table").html(data);
      }
    })
  })
  </script>