<%= render :partial => "about_lantan_head" %>
<div class="clear"></div>
<div class="text_box">
  <h4>
    自有生产车间，从源头保证品质，产品线齐全，产品覆盖面广<br/>
    <img src="/assets/youshi1.jpg" style="align:centre"/>
    <br/>
    市场覆盖全国，售后服务完善<br/>
    <img src="/assets/youshi2.jpg" style="align:'centre'"/>
  </h4>
</div>
