<div class="r_menu">
  <ul>
    <li><a href="/homepage/company_introduce" >公司介绍</a></li>
    <li><a href="/homepage/characteristic_service"  class="hover">特色服务</a></li>
    <li><a href="/homepage/managment_idea">经营理念</a></li>
    <li><a href="/homepage/company_culture">企业文化</a></li>
    <li><a href="/homepage/team_introduce">团队介绍</a></li>
    <li><a href="/homepage/store_introduce">门店介绍</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h4>
    自有生产车间，从源头保证品质，产品线齐全，产品覆盖面广<br/>
    <img src="/assets/youshi1.jpg" style="align:centre"/>
    <br/>
    市场覆盖全国，售后服务完善<br/>
    <img src="/assets/youshi2.jpg" style="align:'centre'"/>
  </h4>
</div>
