<%= render :partial => "about_lantan_head" %>
<div class="clear"></div>
<div class="text_box">
  <h1>简介</h1>
  <p>澜泰科技有限公司是一家专业集研究、开发、制造、销售汽车清洗设备及美容产品的高新科技企业。公司拥有先进生产技术和高素质人才，技术力量雄厚。
  产品主要包括汽车清洗设备、洗车工具、汽车美容养护、清洁剂类等产品。目前已遍布全国各地并远销日本、东南亚、加拿大、美国、巴拿马、德国、法国、
  西班牙等发达国家。本公司自成立以来，本着“专业、诚信、创新、双赢”的经营理念，不断加强与日本、美国、德国等知名制造商的合作，朝着多元化高速
  发展。我们不仅仅是为全球汽车用品客户提供专业美容解决方案，并且还可提供专业的OEM产品订制方案，帮您解决一切后顾之忧。澜泰科技已成为国内外汽
  车后市场颇具影响力的生产制造商。
</p>
<h1>发展愿景</h1>
<p>1-2年 在全国一线城市推广一体化门店ERP经营管理系统，实现汽车后市场产品管理同步化、产出效率化、员工整合化</p>
<p>3-4年  服务覆盖二、三线城市，成为汽车后市场的领跑者，完成上市融资</p>
<p>5-6年 稳固行业领先位置，开拓边缘市场，开设、回购实体经营，进军国外市场</p>
<h1>公司优势</h1>
<p>澜泰科技抓住中国汽车后市场规模迅速扩大，消费种类从汽车清洁、汽车美容、汽车维修扩展到汽车精细化美容的契机，集高科技研发，创新经营意识，结
  合多年在汽车后市场产品的研究开发，稳固的渠道代理，连锁门店经营管理等方面的既有优势，提供全方位的清
  洗产品和工具，为经销商带来质优的产品和一流的服务。</p>
</div>
