<div class="r_menu">
  <ul>
    <li><a href="/homepage/company_introduce">公司介绍</a></li>
    <li><a href="/homepage/characteristic_service">特色服务</a></li>
    <li><a href="/homepage/managment_idea">经营理念</a></li>
    <li><a href="/homepage/company_culture" class="hover">企业文化</a></li>
    <li><a href="/homepage/team_introduce">团队介绍</a></li>
    <li><a href="/homepage/store_introduce">门店介绍</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1>发展历程</h1>
<p>1992年           前身华泰汽车装饰有限公司，以渠道代理起家</p>
<p>2001年   成立德宝汽车服务有限公司，发展了16家连锁门店</p>
<p>2005年   在德国注册LANTAN澜泰品牌，并将工厂设立于杭州，以提供专业的OEM产品订制</p>
<p>2006年   成功研发龙卷风清洁工具，逐渐打开海外市场</p>
<p>2007年   提出“精细化洗车”理念，并在全国推广</p>
<p>2009年   澜泰成立全国营销中心，建立一支专业的团队服务全国客户</p>
<p>2010年   年销售额突破3亿，市场创近历年新高</p>
<p>2011年   汽车美容行业内第一家自主开发IPAD销售互动体验系统</p>
<p>2013年   整合推出智能化、自动化、人性化、模块化门店经营管理ERP系统</p>
</div>
