<div class="r_menu">
  <ul>
    <li><a href="/homepage/company_introduce"  class="hover">公司介绍</a></li>
    <li><a href="/homepage/characteristic_service">特色服务</a></li>
    <li><a href="/homepage/managment_idea">经营理念</a></li>
    <li><a href="/homepage/company_culture">企业文化</a></li>
    <li><a href="/homepage/team_introduce">团队介绍</a></li>
    <li><a href="/homepage/store_introduce">门店介绍</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1>我们是谁？</h1>
  <p>澜泰科技有限公司是一家专业集研究、开发、制造、销售汽车清洗设备及美容产品 的高新科技企业。</p>
  <img src="/assets/pro02.jpg"/>
  <p>公司拥有先进生产技术和高素质人才，技术力量雄厚。产品 主要包括汽车清洗设备、洗车工具、汽车美
    目前已 遍布全国各地并远销日本、东南亚、加拿大、美国、巴拿马、德国、法国、西 班牙等发达国家。</p>
  <h1>经营项目</h1>
  <ul class="text_ul">
    <li>供应澜泰合金轮圈翻新保养剂 轮毂养护</li>
    <li>供应澜泰超浓缩中性环保清洗液 浓缩比</li>
    <li>供应澜泰洗车剂系列-精品洗车剂、洗车</li>
    <li>供应澜泰去污清洗海绵 魔术海绵 无需清</li>
    <li>供应龙卷风清洗机 龙卷风清洗枪</li>
    <li>供应澜泰清洗机 内饰清洗 龙卷风清洗机</li>
  </ul>
</div>
