<div class="r_menu">
  <ul>
    <li><a href="/homepage/company_introduce" >公司介绍</a></li>
    <li><a href="/homepage/characteristic_service">特色服务</a></li>
    <li><a href="/homepage/managment_idea"  class="hover">经营理念</a></li>
    <li><a href="/homepage/company_culture">企业文化</a></li>
    <li><a href="/homepage/team_introduce">团队介绍</a></li>
    <li><a href="/homepage/store_introduce">门店介绍</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1>这是经营理念!</h1>
</div>
