<%= render :partial => "about_lantan_head" %>
<div class="clear"></div>
<div class="text_box">
  一直以来，澜泰科技都秉承不断创新，突破科技的研发理念，每年都推出全新产品。<br/>
  2013年，澜泰科技新产品更注重环保！<br/>
  从公众利益角度去要求自己，为节能减排做贡献！<br/>
  高端，是澜泰科技今后产品研发的又一大方向；<br/>
  我们从产品配方、内瓶设计到产品外包装都十分关注对产品档次的提升！<br/>
  LANTAN产品有其自身的产品特色，包装实用人性化，操作简便，性能卓越，是汽车美容行业的一面旗帜。
</div>
