<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>澜泰总部-register</title>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "login" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "main" %>
<!--[if IE 6]>
<script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('*');
</script>
<![endif]-->

</head>
<body>
  <div class="box">
    <div class="logo">杭州澜泰科技有限公司</div>
    <div id="regist_succ" class="register_bg">
      <ul id="re_one" class="re_two">
        <li>第一步填写账户信息</li>
        <li>第二步注册成功</li>
      </ul>
      <div class="congratulations">恭喜您，注册成功</div>
       <div class="re_btn" id="return_f_page">
         <button onclick="window.location.href='/'">5秒后将自动返回到首页</button>
      </div>
    </div>
  </div>
  <div class="foot">
    <div><img src="/assets/foot_logo.png"/></div>
    <p>Copyright © 2013 杭州澜泰 版权所有</p>
  </div>
  <script type="text/javascript">
    self.setTimeout(function(){window.location.href="/"}, 5000);
  </script>
</body>
</html>