<%= render :partial => "about_lantan_head" %>
<div class="clear"></div>
<div class="text_box">
  <h3>杭州澜泰科技有限公司</h3>
  <hr/>
  <img src="/assets/map.png"/>
  <table border="1" style="display:none">
    <tr>
      <td>公司名称</td>
      <td>杭州澜泰科技有限公司</td>
    </tr>
     <tr>
      <td>企业类型</td>
      <td>私营企业</td>
    </tr>
     <tr>
      <td>经营模式</td>
      <td>生产型</td>
    </tr>
     <tr>
      <td>所在地区</td>
      <td>浙江省杭州市</td>
    </tr>
     <tr>
      <td>品牌名称</td>
      <td>澜泰</td>
    </tr>
     <tr>
      <td>主营产品</td>
      <td>汽车美容产品 气动工具 气动设备 清洗设备</td>
    </tr>
     <tr>
      <td>主营行业</td>
      <td>汽摩配件 防护保养品</td>
    </tr>
     <tr>
      <td>公司注册时间</td>
      <td>2005年</td>
    </tr>
     <tr>
      <td>注册资本</td>
      <td>1000万人民币[RMB]</td>
    </tr>
     <tr>
      <td>注册地</td>
      <td>浙江省 杭州市</td>
    </tr>
     <tr>
      <td>法定代表人</td>
      <td>许洪星</td>
    </tr>
     <tr>
      <td>厂房面积</td>
      <td>1000平方米以下</td>
    </tr>
     <tr>
      <td>员工人数</td>
      <td>11-50人</td>
    </tr>
     <tr>
      <td>研发部分人数</td>
      <td>11-20人</td>
    </tr>
     <tr>
      <td>月产量</td>
      <td>10000</td>
    </tr>
     <tr>
      <td>年出口额</td>
      <td>100万-500万人民币</td>
    </tr>
     <tr>
      <td>管理体系认证</td>
      <td> </td>
    </tr>
     <tr>
      <td>质量控制</td>
      <td>无</td>
    </tr>
     <tr>
      <td>主要客户群</td>
      <td>汽车美容店 批发商 销售商</td>
    </tr>
     <tr>
      <td>是否提供OEM加工</td>
      <td>是</td>
    </tr>
     <tr>
      <td>联系人姓名</td>
      <td>张伟女士</td>
    </tr>
     <tr>
      <td>传真</td>
      <td>86-0571-88056655</td>
    </tr>
     <tr>
      <td>手机号</td>
      <td>15968895815</td>
    </tr>
     <tr>
      <td>邮编</td>
      <td>310030</td>
    </tr>
     <tr>
      <td>详细地址</td>
      <td>浙江省 杭州市  杭州西湖科技园西园五路16号4A栋</td>
    </tr>
     <tr>
      <td>网址</td>
      <td>http://www.lantan.cn</td>
    </tr>
  </table>
</div>
