<%= render :partial => "about_lantan_head" %>
<div class="clear"></div>
<div class="text_box">
  <img src="/assets/item.jpg"/>
  <p>
    澜泰的发展依赖于高素质、具灵活性和奋发上进的员工队伍。员工的经验、才智和技能反映了澜泰的市场和顾客的多样性。
澜泰一贯重视员工发展并对员工加以培养，把个人承诺和公司成功结合起来。澜泰的员工政策通过目标导向的管理方法、业绩相
关的报酬机制，以及定期评估和持续学习来实现。澜泰的企业文化、积极的工作气氛加上员工的奋发努力，这些都成为了公司成
功的决定性因素。

  </p>
</div>
