<div class="change">
  <ul>
    <li><a href="#"><%= image_tag("ad01.jpg")%></a></li>
    <li><a href="#"><%= image_tag("ad02.jpg")%></a></li>
    <li><a href="#"><%= image_tag("ad03.jpg")%></a></li>
  </ul>
</div>