<div class="r_menu">
  <ul>
    <li><a href="/news" class="hover">新闻中心</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <ul class="news_list">
    <% (@news || []).each do |new| %>
      <li><span><%= new.created_at.strftime('%Y-%m-%d') if new.created_at %></span>
        <a href="/news/<%= new.id %>" target="_blank"><%= new.title %></a>
      </li>
    <%end%>
  </ul>
</div>
<div class="pageTurn">
  <%= will_paginate  @news, :previous_label => "上一页",
    :next_label=> "下一页", :page_links =>"false" %>
</div>

