<div class="r_menu">
  <ul>
    <li><a href="#" class="hover">新闻详情</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1><%= @new.title %></h1>
  <em><%= show_time(@new.created_at) %></em>
  <img src="/assets/pro02.jpg"/>
  <%= raw(@new.content) %>
</div>