<div class="r_menu">
  <ul>
    <li><a href="/news/<%= @new.id %>" class="hover">新闻详情</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1><%= @new.title %></h1>
  <em><%= @new.created_at.strftime('%Y-%m-%d') if @new.created_at %></em>
  <div class="text_box_content"><p><%= raw(@new.content) %></p></div>
</div>