<div class="r_menu">
  <ul>
    <li><a href="#" class="hover">新闻详情</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <h1><%= @new.title %></h1>
<<<<<<< HEAD
  <em>ss<%= show_time(@new.created_at) %></em>
  <img src="/assets/pro02.jpg">
=======
  <em><%= show_time(@new.created_at) %></em>
  <img src="/assets/pro02.jpg"/>
>>>>>>> a81e9754bca9a10703d8709a4d399d40a4c4cc22
  <%= raw(@new.content) %>
</div>