<div class="main">
  <div class="box">
    <div class="right">
      <div class="r_menu">
        <ul>
          <li><a href="#" class="hover">活动促销</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="text_box">
        <%= render("sales/show_sales") %>
        <%= render("/homepage/table") %>
      </div>
    </div>
  </div>
</div>
