 <div class="main">
      <div class="box"><div class="leftAera">
  <%=render "stores/store_info" %>
 <div class="leftSales"><a href="#"><img src="images/sales01.jpg"/></a><a href="#"><img src="images/sales01.jpg"/></a></div>
</div>
<div class="rightAera">
  <div class="rightTitle">
    <h1>在线预约</h1>
    <div class="arrange">
      <span class="red arrange_info">*您登记信息之后，我们客服将于您联系，请您将您的手机畅通，若联系不上，您的预约信息将作废。</span>
      <div class="win">预约成功，我们的客服人员将与您电话确认。</div>      
    </div>
  </div>
</div></div></div>