<div class="text_box">
  <h1 align="center">这是用户调查!</h1>
  <script type='text/javascript'>document.write('<iframe frameborder="0" scrolling="auto" style="width:100%;height:600px;border:none" src="http://survey.askform.cn/FormPage.aspx?FormID=317138&UserID=160778&bgColor=%23a34233&FormTitleColor=%23454545&TitleColor=%23324533&FieldColor=%23ade342"></iframe>');</script>
</div>