@charset "utf-8";
* { padding: 0; margin: 0;}
body { 
    background: url(body_bg.jpg) repeat; 
	font-family: "微软雅黑", "宋体", Arial; 
	color: #333; 
	font-size: 14px; 
	position: relative; 
	overflow-x: hidden;
}
a { text-decoration: none;}
ul { list-style: none;}
img { border: none;}
.clear { clear: both;}

.box { width: 1000px; margin: 0 auto;}
.head { height: 75px; background: url(h_bg.jpg) repeat-x center bottom;}
.logo_user { 
    width: 400px; 
	height: 75px; 
	background: url(/assets/logo_user.png) no-repeat;
	overflow: hidden; 
	text-indent: -999px;
	float: left;
}

.login { 
    background: #930205; 
	height: 30px; 
	line-height: 30px; 
	padding: 0 10px; 
	color: #FFF; 
	float: right; 
	font-size: 12px;
}
.login a { color: #FFF; font-size: 12px; margin: 0 5px; text-shadow: 1px 1px rgba(0,0,0,0.5);}
.login a:hover { text-decoration: underline;}

/*main*/
.main { padding: 30px 0;}

.nav { border-bottom: 2px #c80000 solid; overflow: hidden;}
.nav li { 
    padding: 5px 10px; 
	float: left; 
	margin: 0 10px; 
	background: #dadada; 
	cursor: pointer; 
	border-radius: 0.6em 0.6em 0 0;
}
.nav li.hover { background: #c80000; color: #FFF;}
.nav li a { color: inherit;}

.main_body { padding: 20px 0; background: #FFF;}

/*table*/
.data_table { text-align: center; margin-bottom: 30px;}
.data_table tr.hbg td { background: #c59fa0; color: #FFF; font-weight: bolder; font-size: 14px;}
.data_table td { background: #FFF; line-height: 32px; height: 32px; font-size: 12px;}
.data_table tr.tbg td { background: #fff5f6;}
.data_table td a { background: #026c93; padding: 0px 5px; color: #FFF; font-size: 12px; margin: 0 5px;}


/*s_table*/
.s_table { background:#CCC; margin: 5px 0;}
.s_table td { background: #fff;}
.s_table tr.fws td { font-weight: bolder; font-size: 14px; height: 24px; line-height: 24px;}

/*page翻页----*/
.pageTurn { padding: 10px 0; margin-top: 10px; text-align: center; font-size: 13px; color: #48b9ef;}
.pageTurn a { border: 2px #f0f0f0 solid; padding: 2px 5px; margin: 0px 2px; color: #CB5C5C;}
.pageTurn a:hover, .pageTurn a:active { border: 2px #930205 solid; color: #ff5a00;}

.pageTurn em {border: 2px #930205 solid; padding: 2px 5px; font-weight: bold; color: #fff; background: #930205;}
.pageTurn span.disabled {display: none;}
.serve dd a { color: #333;}
.pageTurn span{border: 2px #f0f0f0 solid; padding: 2px 5px; margin: 0px 2px; color: #CB5C5C;}


/*search*/
.search { padding-top: 8px; overflow: hidden; margin-bottom: 5px;}

.search div { float: left; margin: 0px 20px 10px 0; line-height: 24px; overflow: hidden;}
.search label {

	height: 24px; 
	line-height: 21px; 
	float: left; 
	text-align: right; 
	display: inline-block; 
	font-weight: bold;
	color: #930205;
}
.search select { width: 100px; height: 24px; line-height: 24px; border: 1px #CCCCCC solid; float: left;}
.search_btn { 
    height: 24x;
	line-height: 24px; 
	text-align: center; 
	background: #930205; 
	border: none; 
	padding: 0 10px;
	color: #FFF;
}



/*foot*/
.foot { border-top: 1px #cccccc solid; padding: 15px 0; font-size: 12px;}
.foot p { text-align: center; line-height: 32px; color:#c3c3c3;}
/*tab_alert*/
.tab_alert {
    width: 500px;
	padding: 10px;
	border-radius: 0.6em;
	background: url(/assets/black.png) repeat;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	position: absolute;
}
.tab_alert_box { background: #FFF; overflow: hidden; border-radius: 0.6em;}
.tabox_h { line-height: 24px; margin: 20px auto; text-align: center; color:#930205;}
.close {
    width: 10px;
	height: 10px;
	background: url(/assets/x.png) no-repeat;
	text-indent: -999px;
	position: absolute;
	top: 15px;
	right: 15px;
	overflow: hidden;
}