<div class="tab_alert" style="display: none">
  <div class="tab_alert_box">
    <div class="close">关闭</div>
    <div class="tabox_h"></div>
  </div>
</div>
<% if flash[:notice] %>
<script type="text/javascript">
  tishi_alert("<%= flash[:notice] %>");
</script>
<% end %>