<div class="tab_popup" style="display:none;" id="xieyi_div">
  <div class="popup_box">
    <h1><a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="agreement_text">
          <p><strong>一、服务条款的确认和接纳</strong></p>
          <p>澜泰（http://www.icar99.com）及其涉及到的产品、相关软件的所有权和运作权归杭州鼎洪科技有限公司（以下简称鼎洪公司）所有， 鼎洪公司享有对澜泰网上一切活动的监督、提示、检查、纠正及处罚等权利。用户通过注册程序阅读本服务条款并点击"同意"按钮完成注册，即表示用户与鼎洪公司已达成协议，自愿接受本服务条款的所有内容。如果用户不同意服务条款的条件，则不能获得使用icar99.com服务以及注册成为澜泰网用户的权利。</p>

          <p><strong>二、服务保护条款</strong></p>
          <p>1、 鼎洪公司运用自己的操作系统通过国际互联网络为用户提供各项服务，用户必须:<br/>
            （1）提供设备，包括个人电脑一台、调制解调器一个及配备上网装置。<br/>
            （2）个人上网和支付与此服务有关的电话费用。<br/>
            2、考虑到鼎洪公司产品服务的重要性，用户同意:<br/>
            （1）提供及时、详尽及准确的个人资料。<br/>
            （2）不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。<br/>
            3、用户可授权千橡公司向第三方透露其注册资料，否则鼎洪公司不能公开用户的姓名、住址、出件地址、电子邮箱、帐号。除非:<br/>
            （1）事先获得用户明确授权后，用户要求鼎洪公司或授权某人通过电子邮件服务或其他方式透露这些信息。<br/>
            （2）相应的法律、法规要求以及按照有关政府主管部门的要求，需要鼎洪公司提供用户的个人资料。<br/>
            （3）为了维护公众以及人人网合法利益。<br/>
            （4）澜泰网可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与澜泰网同等的保护用户隐私的责任，则澜泰网有权将用户的注册资料等提供给该第三方。<br/>
            （5）在不透露单个用户隐私资料的前提下，澜泰网有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br/>
            4、如果用户提供的资料不准确，不真实，不合法有效，鼎洪公司保留结束用户使用鼎洪公司各项服务的权利。<br/>
            用户在享用鼎洪公司各项服务的同时，同意接受鼎洪公司提供的各类信息服务。<br/>
          </p>

          <p><strong>三、用户使用规则</strong></p>
          <p>特别提示用户，使用互联网必须遵守国家有关的政策和法律，包括刑法、国家安全法、保密法、计算机信息系统安全保护条例等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。 1、用户在申请使用澜泰网提供的网络服务时，必须向鼎洪公司提供准确的个人资料，如个人资料有任何变动，必须及时更新。<br/>
            2、用户注册成功后，鼎洪公司将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。<br/>
            3、用户不得使用澜泰网服务发送或传播敏感信息和违反国家法律制度的信息，包括但不限于下列信息:<br/>
            (a) 反对宪法所确定的基本原则的；<br/>
            (b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br/>
            (c) 损害国家荣誉和利益的；<br/>
            (d) 煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
            (e) 破坏国家宗教政策，宣扬邪教和封建迷信的；<br/>
            (f) 散布谣言，扰乱社会秩序，破坏社会稳定的；<br/>
            (g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br/>
            (h) 侮辱或者诽谤他人，侵害他人合法权益的；<br/>
            (i) 含有法律、行政法规禁止的其他内容的。<br/>
            4、用户在使用澜泰网络服务过程中，必须遵循以下原则:<br/>
            (a) 遵守中国有关的法律和法规；<br/>
            (b) 不得为任何非法目的而使用网络服务系统；<br/>
            (c) 遵守所有与网络服务有关的网络协议、规定和程序；<br/>
            (d) 不得利用澜泰网网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；<br/>
            (e) 不得利用澜泰网网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br/>
            (f) 不得利用澜泰网网络服务系统进行任何不利于 鼎洪公司的行为。<br/>
            5、使用澜泰网站服务，用户应加强个人资料的保护意识，并注意个人密码的密码保护。<br/>
            6、盗取他人用户帐号或利用网络通讯骚扰他人，均属于非法行为。用户不得采用测试、欺骗等任何非法手段，盗取其他用户的帐号和对他人进行骚扰。</p>
        </div>
      </div>
    </div>
  </div>
</div>