<% ( store_lasted_sales || []).each do |sale| %>
  <a href="/stores/<%= @store.id %>/sales/<%= sale.id %>"><img src="<%=sale.img_url.nil? ? "" : sale.img_url.gsub("img#{sale.id}", "img#{sale.id}_#{Constant::SALE_PICSIZE[2]}") %>" alt="lantan"/></a>
<% end %>