<% ( store_lasted_sales || []).each do |sale| %>
  <a href="/stores/<%= @store.id %>/sales/<%= sale.id %>">
    <img src="<%=sale.img_url.gsub("img#{sale.id}","img#{sale.id}_#{Constant::SALE_PICSIZE[1]}") %>" alt="lantan" />
  </a>
<% end %>