<div class="main">
  <div class="box">
    <div class="leftAera">
      <%= render "stores/store_info" %>
      <div class="leftSales">
        <%= render "/sales/laster_sales" %>
      </div>
    </div>
    <div class="rightAera">
      <div class="salesDetail">
        <%= render "show_sales" %>
      </div>
    </div>
  </div>
</div>